<!DOCTYPE html>
<html>
  <head>    
      <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
      <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
      <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="../static/style.css">    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <script src="http://maps.googleapis.com/maps/api/js"></script>    
      <meta charset="UTF-8">
      <script>
      $(document).ready(function(){
          $("#load-header").load("header-footer.html #header");
          $("#load-registry").load("header-footer.html #formRegistryModal");
          $("#load-log").load("header-footer.html #formLogModal");
          $("#load-footer").load("header-footer.html #footer")
      });
      </script>
      <script>
        function initialize() {
          var mapProp = {
            center:new google.maps.LatLng(51.508742,-0.120850),
            zoom:17,
            mapTypeId:google.maps.MapTypeId.ROADMAP
          };
          var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
      </script>
  </head>
  <body>
    <div id="wrapper">      
      <div id="load-header"></div>
      <div id="load-registry"></div>
      <div id="load-log"></div>                
      <div class="neighborhood-guides" id="eventExample">        
            
          <div id ="evento" class="row">

            <div class="col-md-5">
              <div class="thumbnail">  
              <div id="14270474947719" class="wE"></div>
                <script src="http://widget-engine.com/w:0:003:14270474947719:3:000000:40" type="text/javascript"></script>             
                <h3>Beerpong chamionship</h3>    
                <p></p> 
                <p>Donde</p>                    
                <p id ="lugar"> Moondance club</p>
                <p>Cuando</p>
                <p id ="fecha"> Viernes 13</p> 
                <p></p> 
                <p>Participa en el campeonato de Beerpong de la sala Moondance.......................................... ........................................................................ ............................................................................. ........b ................................................................ ....................... ....................................... ......................... ............................... </p>                        
                
              </div>
            </div>  
            
            <div class="col-md-7">
              <div class="thumbnail"> 
              <div id="datepicker"></div> 
              <script type="text/javascript">
              $( "#datepicker" ).datepicker({
                  inline: true
              });
              </script>
                <img src="../static/beerpong.jpg" style="width:600px;height:380px;">   
                <p></p>
                <p></p>
                <div id="googleMap" style="width:500px;height:380px;"></div>
              </div>
            </div>   

          </div>
           
      </div>
      <div id="load-footer"></div>
    </div>  
  <body>
</html>